
    <div class="col-xs-6"> 
    
    <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Punch:Communal Nexus</h3>
  </div>
  </div>
   <% for @p in @posts %>
    <div class="panel panel-primary">
  <div class="panel-body">
    <p><%= @p.content %></p>
  </div>
    </div>
     <% end %>
   </div>
  