<div class="row">
    <div class="col-xs-12"> 
<div class="jumbotron">
  <%= @username %>
</div>


</div>
</div>

<!----- Begin row 2 ------------->
<div class="row">
    
    <div class="col-xs-3"> 
    
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Stats</h3>
  </div>
  <div class="panel-body">
    <p>Profile</p>
  </div>
</div>
    </div>
    
    <div class="col-xs-6"> 
    <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Feed</h3>
  </div>
  <div class="panel-body">
    <p>Punches</p>
  </div>
</div>
    </div>
    
    <div class="col-xs-3"> 
    <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Explore</h3>
  </div>
  <div class="panel-body">
    <p>Whom to Follow?</p>
  </div>
</div>
    </div>
    
      </div>

<!----- Begin row 3 ------------->
<div class="row">
 <div class="col-xs-3 col-xs-offset-9"> 
    <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Trends</h3>
  </div>
  <div class="panel-body">
    <p>trends</p>
  </div>
</div>
    </div>
    
      </div>